/vendor/
/node_modules/
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.log
*.cache
coverage/
.phpunit.cache/
.DS_Store
Thumbs.db
/build/
/dist/
*.zip
*.tar.gz
composer.lock
package-lock.json
yarn.lock 